<!DOCTYPE html>
{% extends "default_layout.html" %}
{% load static %}
{% block body_block %}
  <link rel="stylesheet"  href="{%  static  'css/market_orders_display.css'  %}">
  <script  src="{% static  'js/myscript.js' %}"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>


  /*     TABLE BINANCE     */

  <div style="inline-div" class="container">
    <h4 > Sell : </h4>
    <h4 id='update_ticker_sell_binance'> Sell </h4>
    <h4 > {{ quantity.0 }} </h4>
    <h4 > Buy : </h4>
    <h4 id='update_ticker_buy_binance'> Buy </h4>
  </div>

  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table id="table_binance" class="table table-bordered table-striped mb-0 table_binance">
      <thead>
        <tr>
          <td class="th-sm">Symbol</td>
          <td class="th-sm">Price</td>
          <td class="th-sm">Quantity</td>
          <td class="th-sm">Side</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    {% csrf_token %}
    <script type="text/javascript">
      Binance_mkOrders();
    </script>
    </div>

/*   TABLE Coinbase   */
<div style="inline-div" class="container">
  <h4 > Sell : </h4>
  <h4 id='update_ticker_sell_coinbase'> Sell </h4>
  <h4 > Buy : </h4>
  <h4 id='update_ticker_buy_coinbase'> Buy </h4>
</div>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table id="table_coinbase" class="table table-bordered table-striped mb-0 table_binance">
      <thead>
        <tr>
          <td class="th-sm">Symbol</td>
          <td class="th-sm">Price</td>
          <td class="th-sm">Quantity</td>
          <td class="th-sm">Side</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <script type="text/javascript">

      Coinbase_mkOrders();

    </script>
    </div>


    /*   TABLE Bitfinex   */
    <div style="inline-div" class="container">
      <h4 > Sell : </h4>
      <h4 id='update_ticker_sell_bitfinex'> Sell </h4>
      <h4 > Buy : </h4>
      <h4 id='update_ticker_buy_bitfinex'> Buy </h4>
    </div>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table id="table_bitfinex" class="table table-bordered table-striped mb-0 table_binance">
          <thead>
            <tr>
              <td class="th-sm">Symbol</td>
              <td class="th-sm">Price</td>
              <td class="th-sm">Quantity</td>
              <td class="th-sm">Side</td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <script type="text/javascript">

          Bitfinex_mkOrders();

        </script>
        </div>

        *   TABLE Kraken   */
        <div style="inline-div" class="container">
          <h4 > Sell : </h4>
          <h4 id='update_ticker_sell_kraken'> Sell </h4>
          <h4 > Buy : </h4>
          <h4 id='update_ticker_buy_kraken'> Buy </h4>
        </div>
        <form  method="post">
          {% csrf_token %}
          <input type="text" id="beforeNoonNPSlot" name="min_usd" onclick="Kraken_mkOrders()" value="min_usd">
          <input type="submit" name="submit"  value="submit">

        </form>


          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id="table_kraken" class="table table-bordered table-striped mb-0 table_binance">
              <thead>
                <tr>
                  <td class="th-sm">Symbol</td>
                  <td class="th-sm">Price</td>
                  <td class="th-sm">Quantity</td>
                  <td class="th-sm">Side</td>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <script type="text/javascript">
              Kraken_mkOrders();
            </script>
            </div>

  {% endblock %}
